<html>

<head>
    <title>Web Page Test Plus</title>
    <link rel="stylesheet" href="../lib/uikit/css/uikit.wptplus.min.css" />
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <div class="uk-container uk-container-expand">
        <ul id="tabActions" class="uk-child-width-expand" uk-tab>
            <li id="actionRun"><a href="#run">Run</a></li>
            <li id="actionExport"><a href="#export">Export</a></li>
        </ul>
        <ul class="uk-switcher">
            <li>
                <div class="uk-form-horizontal">
                    <div class="uk-margin">
                        <span class="uk-form-label">WPT Endpoint</span>
                        <div class="uk-form-controls">
                            <div class="uk-position-relative">
                                <a id="iconRefreshLocations" class="uk-form-icon" uk-icon="icon: refresh"></a>
                                <input id="runEndpoint" class="uk-input" type="url" name="runEndpoint" placeholder="Endpoint">
                            </div>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <span class="uk-form-label">WPT API Key</span>
                        <div class="uk-form-controls">
                            <input id="runWptKey" class="uk-input" type="url" name="runWptKey" placeholder="API Key (required for public instance)">
                        </div>
                    </div>
                    <div class="uk-margin">
                        <span class="uk-form-label">Test Location</span>
                        <div class="uk-form-controls">
                            <select id="chooseLocation" class="uk-select" name="location">
                            </select>
                            <script type="template" id="locationOptions">
                            {% for group, locations in items  %}
                                <optgroup label="{{ group }}">
                                    {% for location in locations  %}
                                        <option {{ 'selected' if location.default }} value="{{ location.location }}">{{ location.label }} ({{ location.location }})</option>
                                    {% endfor  %}
                                </optgroup>
                            {% endfor  %}
                            </script>
                            <!-- <option {{ 'selected' if default }}>{{ label }} ({{ location }})</option> -->
                        </div>
                    </div>
                    <div class="uk-margin">
                        <span class="uk-form-label">Browser</span>
                        <div id="runBrowsers" class="uk-form-controls-text uk-grid-small" uk-grid>
                            <label><input class="uk-checkbox" type="checkbox"> Not Available</label>
                        </div>
                        <script type="template" id="checkboxBrowser">
                        {% for value in browsers  %}
                            <label>
                                <input class="uk-checkbox" type="checkbox" name="browser" value="{{ value }}" {{ "checked" if loop.first }}> {{ value }}
                            </label>
                        {% else %}
                            <label><input class="uk-checkbox" type="checkbox"> Not Available</label>
                        {% endfor  %}
                        </script>
                    </div>
                    <div class="uk-margin">
                        <span class="uk-form-label">
                            Emulate Browser
                            <input id="checkboxEmulate" class="uk-checkbox" type="checkbox" name="emulate" value="emulate">
                        </span>
                        <div class="uk-form-controls-text uk-grid-small" uk-grid>
                            <label>
                                <input class="uk-checkbox" type="checkbox" name="emulateBrowser" value="MotoG4"
                                    disabled>
                                Motorola G (gen 4)
                            </label>
                            <label>
                                <input class="uk-checkbox" type="checkbox" name="emulateBrowser" value="Nexus5"
                                    disabled>
                                Nexus 5
                            </label>
                            <label>
                                <input class="uk-checkbox" type="checkbox" name="emulateBrowser" value="Pixel2"
                                    disabled>
                                Google Pixel 2
                            </label>
                            <label>
                                <input class="uk-checkbox" type="checkbox" name="emulateBrowser" value="GalaxyS8"
                                    disabled>
                                Samsung Galaxy S8/S8+/Note 8
                            </label>
                            <label>
                                <input class="uk-checkbox" type="checkbox" name="emulateBrowser" value="AndroidOne"
                                    disabled>
                                Android One
                            </label>
                            <label>
                                <input class="uk-checkbox" type="checkbox" name="emulateBrowser" value="iPhone5c"
                                    disabled>
                                iPhone 5C
                            </label>
                            <label>
                                <input class="uk-checkbox" type="checkbox" name="emulateBrowser" value="iPhone6"
                                    disabled>
                                iPhone 6/7/8
                            </label>
                            <label>
                                <input class="uk-checkbox" type="checkbox" name="emulateBrowser" value="iPad" disabled>
                                iPad
                            </label>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <span class="uk-form-label">Runs</span>
                        <div class="uk-form-controls">
                            <input class="uk-input" type="number" min="1" max="9" value="1" name="runs" id="runs">
                        </div>
                    </div>
                    <div class="uk-margin">
                        <span class="uk-form-label">Cached View</span>
                        <div class="uk-form-controls-text uk-grid-small" uk-grid>
                            <label>
                                <input class="uk-checkbox" type="checkbox" name="runCachedView" id="runFirstView" value="firstView"
                                    checked> First View
                            </label>
                            <label>
                                <input class="uk-checkbox" type="checkbox" name="runCachedView" id="runRepeatView"
                                    value="repeatView" checked> Repeat View
                            </label>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <span class="uk-form-label">Video</span>
                        <div class="uk-form-controls-text uk-grid-small" uk-grid>
                            <label>
                                <input class="uk-checkbox" type="checkbox" name="video" id="video" value="video">
                                Capture
                            </label>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <span class="uk-form-label">Ignore SSL Certificate Errors</span>
                        <div class="uk-form-controls-text uk-grid-small" uk-grid>
                            <label>
                                <input class="uk-checkbox" type="checkbox" name="ignoreSslErrors" id="ignoreSslErrors"
                                    value="ignore"> Ignore
                            </label>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <span class="uk-form-label">Script</span>
                        <div class="uk-form-controls">
                            <textarea class="uk-textarea" name="script" id="script" placeholder="Url or Script" rows="7"></textarea>
                        </div>
                    </div>
                    <button id="btnRun" class="uk-button uk-button-primary">Start Runs</button>
                </div>
            </li>
            <li>
                <div class="uk-form-horizontal">
                    <div class="uk-margin">
                        <span class="uk-form-label" uk-tooltip="delay: 500; title: Server URL (https://www.webpagetest.org/)">
                            WPT Endpoint
                        </span>
                        <div class="uk-form-controls">
                            <input class="uk-input" type="url" name="exportEndpoint" id="exportEndpoint" placeholder="Endpoint">
                        </div>
                    </div>
                    <div class="uk-margin">
                        <span class="uk-form-label" uk-tooltip="delay: 500; title: Test codes (separated by comma)">
                            Test Code
                        </span>
                        <div class="uk-form-controls">
                            <input class="uk-input uk-input-validation" type="text" name="testCode" id="testCode"
                                placeholder="test codes (separated by comma)" pattern="(\w+_\w+_\w+)(,\w+_\w+_\w+)*">
                        </div>
                    </div>
                    <div class="uk-margin">
                        <span class="uk-form-label" uk-tooltip="delay: 500; title: Metrics (reorder columns on the left icon on each metric selector)">
                            Metrics
                        </span>
                        <div id="metricSelector" class="uk-form-controls-text uk-grid-small" uk-grid uk-sortable>
                        </div>
                        <script type="template" id="metricCheckbox">
                            <div>
                                <span uk-icon="icon: table; ratio: 0.5"></span>
                                <label {% if tooltip %}uk-tooltip="delay: 500; title: {{ tooltip }}"{% endif %}>
                                    <input class="uk-checkbox" type="checkbox" name="metrics" id="checkbox_{{ name }}" value="{{ name }}" {{ "checked" if checked }}> {{ description }}
                                </label>
                            </div>
                        </script>
                    </div>
                    <div class="uk-margin">
                        <span class="uk-form-label">Cached View</span>
                        <div class="uk-form-controls-text uk-grid-small" uk-grid>
                            <label>
                                <input class="uk-checkbox" type="checkbox" name="exportCachedView" id="exportFirstView"
                                    value="firstView" checked> First View
                            </label>
                            <label>
                                <input class="uk-checkbox" type="checkbox" name="exportCachedView" id="exportRepeatView"
                                    value="repeatView" checked> Repeat View
                            </label>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <span class="uk-form-label" uk-tooltip="delay: 500; title: Step index of the script (Separated by comma and 1 based. Start with '!' to exclude the list)">
                            Steps
                        </span>
                        <div class="uk-form-controls">
                            <input class="uk-input" type="text" name="steps" id="steps" value="" placeholder="step number (separated by comma)">
                        </div>
                    </div>
                    <div class="uk-margin">
                        <span class="uk-form-label">Filters</span>
                        <div class="uk-form-controls uk-form-controls-text">
                            <label uk-tooltip="delay: 500; title: Removes the steps whose PLT is outside the standard deviation of the execution context. Even below or above average.">
                                <input class="uk-checkbox" type="checkbox" name="filterOutliers" id="filterOutliers"
                                    value="1"> Remove Outliers
                            </label>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <span class="uk-form-label">
                            Aggregate <input class="uk-checkbox" type="checkbox" name="aggregate" id="aggregate" value="1">
                        </span>
                        <div class="uk-form-controls-text uk-grid-small" uk-grid>
                            <label uk-tooltip="delay: 500; title: Treats multiple tests like one and calculate the aggregation of all runs">
                                <input class="uk-checkbox js-aggregationOption" type="checkbox" name="mergeTest" id="mergeTest"
                                    value="merge" disabled> Merge Tests
                            </label>
                            <label uk-tooltip="delay: 500; title: Calculate the median run and exports the metrics of this run. Choose PLT or Speed index on Options to calculate the median run.">
                                <input class="uk-radio js-aggregationOption" type="radio" name="aggregateType" id="aggregateMedian"
                                    value="median" disabled checked> Median
                            </label>
                            <label uk-tooltip="delay: 500; title: Calculate the average for each metric">
                                <input class="uk-radio js-aggregationOption" type="radio" name="aggregateType" id="aggregateAverage"
                                    value="average" disabled> Average
                            </label>
                            <label uk-tooltip="delay: 500; title: Calculate the standard deviation for each metric">
                                <input class="uk-radio js-aggregationOption" type="radio" name="aggregateType" id="aggregateStDev"
                                    value="standardDeviation" disabled> Standard Deviation
                            </label>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <span class="uk-form-label">Options</span>
                        <div class="uk-form-controls uk-form-controls-text">
                            <label>
                                <input class="uk-checkbox" type="checkbox" name="header" id="header" value="header"
                                    checked> Export Header
                            </label>
                        </div>
                    </div>
                    <button id="btnResult" class="uk-button uk-button-primary">Results</button>
                    <button id="btnCopyClipboard" class="uk-button uk-button-secundary">Copy to Clipboard <span uk-icon="download"></span></button>
                </div>
                <ul class="uk-subnav uk-subnav-pill uk-margin js-SwitcherDataTypes" uk-switcher>
                    <li><a class="js-TabDataTable" href="#">Data</a></li>
                    <li><a class="js-TabCsv" href="#">CSV</a></li>
                </ul>
                <ul class="uk-switcher">
                    <li id="exportTableResult" class="uk-margin"></li>
                    <li class="uk-margin">
                        <textarea class="uk-textarea" name="resultCsv" id="resultCsv" placeholder="Result Csv" rows="13"></textarea>
                    </li>
                </ul>
                <script type="template" id="tableResult">
                    <table class="uk-table uk-table-small uk-table-striped uk-table-divider uk-table-hover">
                        <thead>
                            <tr>
                                {% for metric in metrics %}
                                    <th>{{ metric }}</th>
                                {% else %}
                                    <th>No Data</th>
                                {% endfor  %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in rows %}
                                <tr>
                                    {% for col in row %}
                                        <td>{{ col }}</td>
                                    {% endfor  %}
                                </tr>
                            {% else %}
                                <tr>
                                    <td>No Data</td>
                                </tr>
                            {% endfor  %}
                        </tbody>
                        {% if summary %}
                            <tfoot>
                                {% for row in summary %}
                                    <tr>
                                        {% for col in row %}
                                            <td>{{ col }}</td>
                                        {% endfor  %}
                                    </tr>
                                {% endfor %}
                            </tfoot>
                        {% endif  %}
                    </table>
                </script>
            </li>
        </ul>
    </div>

    <script type="text/javascript" src="../lib/uikit/js/uikit.min.js"></script>
    <script type="text/javascript" src="../lib/uikit/js/uikit-icons.min.js"></script>
    <script type="text/javascript" src="../lib/store.js"></script>
    <script type="text/javascript" src="../lib/jsonata.js"></script>
    <script type="text/javascript" src="../lib/nunjucks.js"></script>
    <script type="text/javascript" src="../js/AppSettings.js"></script>
    <script type="text/javascript" src="../js/polyfill/array.js"></script>
    <script type="text/javascript" src="../js/helpers/math.js"></script>
    <script type="text/javascript" src="../js/helpers/metricHelper.js"></script>
    <script type="text/javascript" src="../js/helpers/reportHelper.js"></script>
    <script type="text/javascript" src="../js/helpers/formHelper.js"></script>
    <script type="text/javascript" src="../js/helpers/htmlHelper.js"></script>
    <script type="text/javascript" src="../js/Template.js"></script>
    <script type="text/javascript" src="../js/MemoryCache.js"></script>
    <script type="text/javascript" src="../js/ServerLocation.js"></script>
    <script type="text/javascript" src="../js/ServerLocationInstance.js"></script>
    <script type="text/javascript" src="../js/ReportMetricConfig.js"></script>
    <script type="text/javascript" src="../js/ReportStep.js"></script>
    <script type="text/javascript" src="../js/ReportStepGroup.js"></script>
    <script type="text/javascript" src="../js/ReportDocument.js"></script>
    <script type="text/javascript" src="../js/ReportExporter.js"></script>
    <script type="text/javascript" src="runPage.js"></script>
    <script type="text/javascript" src="exportPage.js"></script>
    <script type="text/javascript" src="index.js"></script>
</body>

</html>